# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
indent_size = tab
indent_style = tab
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.md]
indent_size = 2
indent_style = space

# Tabs may not be valid YAML
# @see https://yaml.org/spec/1.2/spec.html#id2777534
[*.{sh,yml,yaml}]
indent_size = 2
indent_style = space

# yaml-lint configuration
# YAML files should be indented with spaces, which .yamllint is
[.yamllint]
indent_size = 2
indent_style = space

[default.git*]
indent_size = 2
indent_style = space

[.git*]
indent_size = 2
indent_style = space

[.git/**]
indent_size = 2
indent_style = space
