# For 15-25% faster npm install
# https://www.peterbe.com/plog/benchmarking-npm-install-with-or-without-audit
# Also we have Dependabot alerts configured in the GitHub repo.
# Moral attribution: Copyright 2024 GitHub
# SPDX-License-Identifier: MIT
# See also D375
audit=false
fund=false
