[user]
	name = Yongmin Hong
	email = revi@pobox.com
	signingkey = BEFF197A
[gitreview]
	username = revi
[core]
	editor = nano
[include]
	path = ~/dots/.gitaliases
[diff]
        tool = default-difftool
[difftool "default-difftool"]
        cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[sendemail]
	smtpserver = smtp.pobox.com
	smtpuser = revi@pobox.com
	smtpencryption = tls
	smtpserverport = 587
[init]
	defaultBranch = master
	