---
name: YAML Lint
on:
  push:
    paths:
      - '**.yml'
      - '**.yaml'
      - '.yamllint'
  pull_request:
    paths:
      - '**.yml'
      - '**.yaml'
      - '.yamllint'
  workflow_dispatch:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
