---
name: YAML Lint
on:
  push:
    paths:
      - '**.yml'
      - '**.yaml'
      - '.yamllint'
  pull_request:
    paths:
      - '**.yml'
      - '**.yaml'
      - '.yamllint'
  workflow_dispatch:

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: yaml-lint
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3
